<h1>Listing issuers</h1>

<table>
  <tr>
    <th>Vsab</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issuers.each do |issuer| %>
  <tr>
    <td><%= issuer.vsab %></td>
    <td><%= issuer.source %></td>
    <td><%= link_to 'Show', issuer %></td>
    <td><%= link_to 'Edit', edit_issuer_path(issuer) %></td>
    <td><%= link_to 'Destroy', issuer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issuer', new_issuer_path %>
