<p id="notice"><%= notice %></p>

<p>
  <b>Vsab:</b>
  <%= @issuer.vsab %>
</p>

<p>
  <b>Source:</b>
  <%= @issuer.source %>
</p>


<%= link_to 'Edit', edit_issuer_path(@issuer) %> |
<%= link_to 'Back', issuers_path %>
