<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @concept.language %>
</p>

<p>
  <b>Concept:</b>
  <%= @concept.concept_id %>
</p>

<p>
  <b>Rubric:</b>
  <%= @concept.rubric %>
</p>


<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
