<!DOCTYPE html>
<html>
<head>
  <title>Open Terminology</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="banner">
  Open Terminology
</div>
<div id="columns">
  <div id="side">
    <ul>
      <li><%= link_to 'Concept', concepts_path %></li>
      <li><%= link_to 'Group', groups_path %></li>
      <li><%= link_to 'Code', codes_path %></li>
      <li><%= link_to 'Codeset', codesets_path %></li>
      <li><%= link_to 'Language', languages_path %></li>
      <li><%= link_to 'Country', countries_path %></li>
      <li><%= link_to 'Media Type', media_types_path %></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
